* {
    background:                     #282a36;
    background-alt:                 #44475a;
    foreground:                     #f8f8f2;
    border:               			#6A6577;
    border-alt:               		#4E4A57;
    selected:               		#4C454C;
    urgent:                         #bd93f9;
}
